---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import ResourceCard from '@components/ResourceCard.astro'
import Pagination from '@components/Pagination.astro'

export async function getStaticPaths({ paginate }) {
  const articles = await getCollection('articles', ({ data }) => {
    return !data.draft
  })

  const sortedArticles = articles.sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
  )

  return paginate(sortedArticles, { pageSize: 3 })
}

const { page } = Astro.props

const { data: articles, currentPage, lastPage } = page
---

<Layout title='Artículos | Share IT' showBackButton>
  <div class='flex flex-col items-center mb-8 gap-2'>
    <h1 class='text-4xl font-bold text-center text-white'>Artículos</h1>
    <span class='text-lg text-center text-gray-400'>
      Artículos escritos por desarrolladores de la comunidad de Share IT.📃
    </span>
  </div>

  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4'>
    {
      articles.length === 0 ? (
        <div class='text-center py-12'>
          <p class='text-gray-400 text-lg'>
            Aun no hay artículos publicados. ¡Vuelve pronto!🚀
          </p>
        </div>
      ) : (
        articles.map((article) => (
          <ResourceCard
            title={article.data.title}
            description={article.data.description}
            category={article.data.category}
            date={article.data.date}
            href={`/articles/${article.slug}`}
          />
        ))
      )
    }
  </div>
  <Pagination
    currentPage={currentPage}
    totalPages={lastPage}
    baseUrl='/articles'
  />
</Layout>
