---
import CollaboratorCard from '@components/CollaboratorCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { formatDate } from 'src/utils/dates'

export async function getStaticPaths() {
  const articles = await getCollection('articles')
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

const { article } = Astro.props
const { Content } = await article.render()
---

<Layout title={article.data.title} showBackButton>
  <article class='prose lg:prose-xl mx-auto prose-invert'>
    <header class='flex flex-col items-start gap-2'>
      <div class='flex flex-col items-start'>
        <h1 class='text-4xl font-bold text-white'>{article.data.title}</h1>
        <time class='text-sm text-gray-400'
          >{formatDate(article.data.date.toISOString())}</time
        >
      </div>
      <div class='bg-[#314aa9] text-violet-200 px-3 py-1 rounded-full text-sm'>
        {article.data.category}
      </div>
      <p class='text-gray-300 mt-2'>{article.data.description}</p>
    </header>
    <Content />
    <CollaboratorCard {...article.data.author} />
  </article>
</Layout>
