---
import ResourceCard from '@components/ResourceCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const articles = await getCollection('articles', ({ data }) => {
  return !data.draft
})

const sortedArticles = articles.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
---

<Layout title='Artículos | Mi Blog' showBackButton>
  <h1 class='text-4xl font-bold text-center mb-8 text-white'>Artículos</h1>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
    {
      sortedArticles.map((article) => (
        <ResourceCard
          title={article.data.title}
          description={article.data.description}
          category={article.data.category}
          date={article.data.date}
          href={`/articles/${article.slug}`}
        />
      ))
    }
  </div>
</Layout>
