---
import ResourceCard from '@components/ResourceCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { getAllTags } from 'src/utils/tags'

export async function getStaticPaths() {
  const resources = await getCollection('resources')
  const tags = getAllTags(resources)

  return tags.map((tag) => ({
    params: { tag: tag.name.toLowerCase() },
    props: { tag: tag.name },
  }))
}

const { tag } = Astro.props
const resources = await getCollection('resources', ({ data }) => {
  return !data.draft && data.category.toLowerCase() === tag.toLowerCase()
})
---

<Layout title={`${tag} | Tags`}>
  <div class='mb-8'>
    <a href='/tags' class='text-violet-400 hover:text-violet-300'
      >â† Volver a Tags</a
    >
  </div>

  <h1 class='text-4xl font-bold mb-8 text-white'>
    Recursos en {tag}
    <span class='text-lg text-gray-400 ml-2'>({resources.length})</span>
  </h1>

  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
    {
      resources.map((resource) => (
        <ResourceCard
          title={resource.data.title}
          description={resource.data.description}
          category={resource.data.category}
          href={`/resources/${resource.slug}`}
        />
      ))
    }
  </div>
</Layout>
