---
import Layout from '@layouts/Layout.astro'
import GroupCard from '@components/GroupCard.astro'
import { admins, groups, socialLinks } from 'src/utils/aboutUs'
import CarouselAdmin from '@components/CarouselAdmin/CarouselAdmin'
const styledParagraph = 'text-[1rem] text-gray-300 leading-relaxed'

const OPTIONS = {
  align: 'start',
  dragFree: true,
  loop: true,
  slidesToScroll: 'auto',
}
---

<Layout title='Acerca de | Share IT' showBackButton>
  <div class='max-w-4xl mx-auto'>
    <h1 class='text-4xl font-bold text-center mb-8 text-white'>
      Acerca de Nosotros
    </h1>
    <p class=`${styledParagraph} mb-2`>
      <span class='font-bold text-lg text-[#83D6E7]'>Share</span>
      <span class='font-bold text-[#586ab1]'>IT</span>
      es una comunidad de WhatsApp que <span class='font-bold'
        >reúne a personas de toda índole y de habla hispana</span
      >, que forman parte o aspiran a formar parte de la industria IT. Somos una
      comunidad unida por el deseo de <span class='font-bold'
        >aprender, compartir conocimientos y crecer juntos</span
      > en el ámbito tecnológico. Nuestro propósito es construir una red de apoyo
      que permita a sus integrantes progresar como profesionales de esta industria,
      siempre teniendo en cuenta que la colaboración mutua es el principal motor
      para un crecimiento sostenible. 💪
    </p>
    <h2 class='text-2xl mt-6 font-bold text-white'>
      ¿Qué vas a encontrar en esta comunidad?
    </h2>
    <p class=`${styledParagraph} mt-2`>
      La comunidad está compuesta por varios grupos, cada uno con una dinámica
      distinta.
    </p>
    <div class='flex flex-col gap-4 my-3'>
      <div
        class='grid h-full w-full gap-4 grid-cols-1 grid-rows-1 sm:grid-cols-2 lg:grid-cols-2'
      >
        {
          groups.map((group) => (
            <GroupCard
              title={group.title}
              description={group.description}
              size={group.size}
            />
          ))
        }
      </div>
      <p class='text-sm text-gray-200 leading-relaxed italic'>
        Nota: Al ingresar a la comunidad te pediremos que por favor rellenes un
        formulario con algunos datos personales <span class='font-bold'
          >(no se piden datos sensibles)
        </span>ya que llevamos un registro de los usuarios que se incorporan.
        Esto nos permite evitar el ingreso de usuarios maliciosos y contribuye a
        una comunidad más sana.
      </p>
      <div class='flex flex-col justify-center gap-4 mt-2'>
        <p class=`text-lg text-center text-gray-200 leading-relaxed font-bold`>
          Únete a nosotros y sé parte de esta increíble comunidad.🚀
        </p>
        <div class='flex sm:flex-row justify-center gap-4 flex-col'>
          {
            socialLinks.map((link) => (
              <a
                aria-label={link.title}
                rel='noopener noreferrer'
                target='_blank'
                href={link.url}
                class='flex items-center justify-center gap-2 bg-[#314aa9] hover:bg-[#2f3fca] text-white px-6 py-2 rounded-full w-full sm:w-auto font-semibold'
              >
                {link.description}
                <link.icon />
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h2 class='text-2xl mt-6 mb-4 font-bold text-white'>
          Conoce a los Líderes de Nuestra Comunidad
        </h2>
        <CarouselAdmin slides={admins} options={OPTIONS} client:load />
      </div>
    </div>
  </div>
</Layout>
