---
import { AnimatedText } from '@components/AnimatedText'
import ResourceCard from '@components/ResourceCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { resources } from 'src/utils/resources'

const articles = await getCollection('articles', ({ data }) => {
  return !data.draft
})

const latestArticles = articles
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 2)
const latestResources = resources.slice(0, 2)

export const prerender = true
---

<Layout title='Share it Blog'>
  <div
    class='text-center mb-16 px-4 py-12 bg-gradient-to-b from-gray-800 to-gray-900 rounded-lg'
  >
    <AnimatedText client:load />
    <p
      class='text-base sm:text-lg md:text-xl text-gray-300 mb-8 max-w-2xl mx-auto mt-2'
    >
      Bienvenido a <span class='font-bold text-[#83D6E7]'>Share</span>
      <span class='font-bold text-[#586ab1]'>IT</span>. Un rincón para compartir
      los conocimientos y recursos que me han guiado y ayudado, tanto a mí como
      a otros desarrolladores, en nuestro recorrido.
    </p>
    <div class='flex sm:flex-row justify-center gap-4 flex-col'>
      <a
        href='/articles'
        class='bg-[#314aa9] hover:bg-[#2f3fca] text-white px-6 py-2 rounded-full'
      >
        Explorar Artículos
      </a>
      <a
        href='/aboutUs'
        class='border-[#314aa9] hover:border-[#83d6e7] border-2 text-white px-6 py-2 rounded-full transition-colors'
      >
        Acerca de nosotros
      </a>
    </div>
  </div>

  <section class='mb-12'>
    <h2 class='text-3xl font-bold mb-6 text-white'>Últimos Artículos</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-6'>
      {
        latestArticles.map((article) => (
          <ResourceCard
            title={article.data.title}
            description={article.data.description}
            category={article.data.category}
            date={article.data.date}
            href={`/articles/${article.slug}`}
          />
        ))
      }
    </div>
    <div class='text-center mt-4'>
      <a href='/articles/1' class='text-[#368beb] hover:text-[#83D6E7]'
        >Ver todos los artículos →</a
      >
    </div>
  </section>

  {
    latestResources.length === 0 ? (
      <div class='text-center py-12'>
        <h2 class='text-3xl font-bold mb-6 text-white text-start'>Recursos</h2>
        <p class='text-gray-400 text-lg'>
          Aún no hay recursos publicados. ¡Vuelve pronto!🚀
        </p>
      </div>
    ) : (
      <section>
        <h2 class='text-3xl font-bold mb-6 text-white'>Recursos Destacados</h2>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-6'>
          {latestResources.map((resource) => (
            <ResourceCard
              title={resource.title}
              description={resource.description}
              category={resource.category}
              date={resource.date}
              href={resource.slug}
            />
          ))}
        </div>
        <div class='text-center mt-4'>
          <a href='/resources' class='text-[#368beb] hover:text-[#83D6E7]'>
            Ver todos los recursos →
          </a>
        </div>
      </section>
    )
  }
</Layout>
