---
import { AnimatedText } from '@components/AnimatedText'
import ResourceCard from '@components/ResourceCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const articles = await getCollection('articles', ({ data }) => {
  return !data.draft
})
const resources = await getCollection('resources', ({ data }) => {
  return !data.draft
})

const latestArticles = articles
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 2)
const latestResources = resources.slice(0, 2)

export const prerender = true
---

<Layout title='Share it Blog'>
  <div
    class='text-center mb-16 py-12 bg-gradient-to-b from-gray-800 to-gray-900 rounded-lg'
  >
    <AnimatedText client:load />
    <p class='text-xl text-gray-300 mb-8 max-w-2xl mx-auto'>
      Bienvenido a <span class='font-bold text-[#83D6E7]'>Share</span>
      <span class='font-bold text-[#586ab1]'>IT</span>. Un rincón para compartir
      los conocimientos y recursos que me han guiado y ayudado, tanto a mí como
      a otros desarrolladores, en nuestro recorrido. En mi camino, he aprendido
      lo fundamental que es la tecnología en nuestras vidas diarias y cómo puede
      realmente transformar vidas.
    </p>
    <div class='flex justify-center gap-4'>
      <a
        href='/articles'
        class='bg-[#314aa9] hover:bg-[#2f3fca] text-white px-6 py-2 rounded-full'
      >
        Ver Artículos
      </a>
      <a
        href='/resources'
        class='bg-gray-700 hover:bg-gray-600 text-white px-6 py-2 rounded-full transition-colors'
      >
        Explorar Recursos
      </a>
    </div>
  </div>

  <section class='mb-12'>
    <h2 class='text-3xl font-bold mb-6 text-white'>Últimos Artículos</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-6'>
      {
        latestArticles.map((article) => (
          <ResourceCard
            additionalClasses='min-h-[250px]'
            title={article.data.title}
            description={article.data.description}
            category={article.data.category}
            date={article.data.date}
            href={`/articles/${article.slug}`}
          />
        ))
      }
    </div>
    <div class='text-center mt-4'>
      <a href='/articles' class='text-[#368beb] hover:text-[#daebf0]'
        >Ver todos los artículos →</a
      >
    </div>
  </section>

  <section>
    <h2 class='text-3xl font-bold mb-6 text-white'>Recursos Destacados</h2>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-6'>
      {
        latestResources.map((resource) => (
          <ResourceCard
            additionalClasses='min-h-[250px]'
            title={resource.data.title}
            description={resource.data.description}
            category={resource.data.category}
            date={resource.data.date}
            href={`/resources/${resource.slug}`}
          />
        ))
      }
    </div>
    <div class='text-center mt-4'>
      <a href='/resources' class='text-[#368beb] hover:text-[#daebf0]'
        >Ver todos los recursos →</a
      >
    </div>
  </section>
</Layout>
