---
import CollaboratorCard from '@components/CollaboratorCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { formatDate } from 'src/utils/dates'

export async function getStaticPaths() {
  const resources = await getCollection('resources')
  return resources.map((resource) => ({
    params: { slug: resource.slug },
    props: { resource },
  }))
}

const { resource } = Astro.props
const { Content } = await resource.render()
---

<Layout title={resource.data.title} showBackButton>
  <article class='prose lg:prose-xl mx-auto prose-invert'>
    <header class='flex flex-col items-start gap-2'>
      <div class='flex flex-col items-start'>
        <h1 class='text-4xl font-bold text-white'>{resource.data.title}</h1>
        <time class='text-sm text-gray-400'
          >{formatDate(resource.data.date.toISOString())}</time
        >
      </div>
      <div class='bg-[#314aa9] text-violet-200 px-3 py-1 rounded-full text-sm'>
        {resource.data.category}
      </div>
      <p class='text-gray-300 mt-2'>{resource.data.description}</p>
    </header>
    <Content />
    <CollaboratorCard {...resource.data.author} />
  </article>
</Layout>
