---
import ResourceCard from '@components/ResourceCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const resources = await getCollection('resources', ({ data }) => {
  return !data.draft
})

const sortedResources = resources.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
---

<Layout title='Recursos | Mi Blog' showBackButton>
  <h1 class='text-4xl font-bold text-center mb-8 text-white'>Recursos</h1>

  {
    sortedResources.length === 0 ? (
      <div class='text-center py-12'>
        <p class='text-gray-400 text-lg'>
          No se encontraron recursos en esta categoría.
        </p>
      </div>
    ) : (
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
        {sortedResources.map((resource) => (
          <ResourceCard
            title={resource.data.title}
            description={resource.data.description}
            category={resource.data.category}
            date={resource.data.date}
            href={`/resources/${resource.slug}`}
          />
        ))}
      </div>
    )
  }
</Layout>
