---
import GithubIcon from '@icons/GithubIcon.astro'
import LinkedinIcon from '@icons/LinkedinIcon.astro'
import WebIcon from '@icons/WebIcon.astro'

interface Props {
  name: string
  role: string
  avatar: string
  github?: string
  linkedin?: string
  website?: string
  about: string
  articleCount?: number
}

const { name, role, avatar, github, linkedin, website, about, articleCount } =
  Astro.props
---

<article
  class='bg-gray-800 rounded-lg p-6 flex flex-col items-center text-center'
>
  <img
    src={avatar}
    alt={name}
    class='w-32 h-32 rounded-full mb-4 object-cover border-4 border-[#83D6E7]'
  />
  <div class='flex flex-col items-center mb-2'>
    <h4 class='text-xl font-bold text-white'>{name}</h4>
    <span class='text-sm font-bold text-[#83d6e7]'>{role}</span>
    <span class='text-gray-400 text-sm'>{about}</span>
    {
      articleCount !== undefined && (
        <span class='text-gray-400 text-sm mt-2'>
          Artículos: <span class='font-bold'>{articleCount}</span>
        </span>
      )
    }
  </div>
  <div class='flex gap-4'>
    {
      github && (
        <a
          href={github}
          target='_blank'
          rel='noopener noreferrer'
          class='text-gray-400 hover:text-[#83d6e7]'
          aria-label='GitHub profile'
        >
          <GithubIcon />
        </a>
      )
    }
    {
      linkedin && (
        <a
          href={linkedin}
          target='_blank'
          rel='noopener noreferrer'
          class='text-gray-400 hover:text-[#83d6e7]'
          aria-label='LinkedIn profile'
        >
          <LinkedinIcon />
        </a>
      )
    }
    {
      website && (
        <a
          href={website}
          target='_blank'
          rel='noopener noreferrer'
          class='text-gray-400 hover:text-[#83d6e7]'
          aria-label='Personal website'
        >
          <WebIcon />
        </a>
      )
    }
  </div>
</article>
